@use '../../../../shared/components/form-controls/form-controls.scss';
.input-wrap {
  position: relative;
  display: block;
}
.input-wrap i {
  position: absolute;
  left: 0.9rem;
  top: 50%;
  z-index: 1;
  transform: translateY(-50%);
  color: #8092a5;
  font-size: 0.9rem;
}
.input-wrap input {
  padding-left: 2.55rem;
}
